{{ define "metrics.html" }}
<html>
    <head>
        <style>
         table {
             width:auto;
             margin-bottom:20px;
             margin-right:10px;
             float:left;
         }
         * {
             box-sizing:border-box;
             font-family:Arial;
             font-
         }
         td {
             padding:10px;
             border:1px solid #ccc;
         }
        </style>
    </head>

    <body>
        {{ $total := .TotalViews }}
        {{ .Time }}
        <table>
            <tr>                
                <td colspan="2" style="text-align:center;"><b>Max Latency (ms)</b></td>
            </tr>
            {{range .MaxLatency}}
            <tr>
                <td>{{.Key}}</td>
                <td>{{.Value}}</td>
            </tr>
            {{end}}
        </table>
        
        <table>
            <tr>
                <td colspan="3" style="text-align:center;"><b>Endpoint {{$total}}</b></td>
            </tr>
            {{range .Handlers}}
            <tr>
                <td>{{.Key}}</td>
                <td>{{.Value}}</td>
                <td>{{percent .Value $total}} %</td>
            </tr>
            {{end}}
        </table>
        
        <table>
            <tr>
                <td colspan="3" style="text-align:center;"><b>OS</b></td>
            </tr>
            {{range .Os}}
            <tr>
                <td>{{.Key}}</td>
                <td>{{.Value}}</td>
                <td>{{percent .Value $total}} %</td>
            </tr>
            {{end}}
        </table>

        <table>
            <tr>
                <td colspan="3" style="text-align:center;"><b>Countries</b></td>
            </tr>
            {{range .Countries}}
            <tr>
                <td>{{.Key}}</td>
                <td>{{.Value}}</td>                
                <td>{{percent .Value $total}} %</td>
            </tr>
            {{end}}
        </table>

        <table>
            <tr>
                <td colspan="3" style="text-align:center;"><b>Genders</b></td>
            </tr>
            {{range .Genders}}
            <tr>
                <td>{{.Key}}</td>
                <td>{{.Value}}</td>                
                <td>{{percent .Value $total}} %</td>
            </tr>
            {{end}}
        </table>


        <table>
            <tr>
                <td colspan="3" style="text-align:center;"><b>Browsers</b></td>
            </tr>
            {{range .Browsers}}
            <tr>
                <td>{{.Key}}</td>
                <td>{{.Value}}</td>                
                <td>{{percent .Value $total}} %</td>
            </tr>
            {{end}}
        </table>
        

    </body>
</html>
{{ end }}
